<h1>user information</h1>
<hr>
<p>screen name: <%= @user.screen_name %></p>
<p>self introduction: <%= @user.self_introduction %></p>
<hr>
<p><a href="/posts" class="btn btn-info">back to index</a></p>
<p><a href="/users" class="btn btn-primary">back to user list</a></p>
<% if @user.id == current_user.id %>
  <p><a href="/users/<%= @user.id %>/edit" class="btn btn-success">edit user information</a>
<% end %>