<h1>user information update completed</h1>
<hr>
<p>screen name: <%= @user.screen_name %></p>
<p>self introduction: <%= @user.self_introduction %></p>
<hr>
<p><a href="/users/<%= @user.id %>" class="btn btn-primary">back to user information</a></p>
<p><a href="/users/<%= @user.id %>/edit" class="btn btn-success">back to user information edit</a></p>
<p><a href="/posts" class="btn btn-info">back to index</a></p>