.my-form{
  width: 500px;
}

.main-page{
  margin-top: 50px;
}

.header-image{
  background-image: url(/assets/MojaveDay.jpg);
  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header-content{
  font-size: 75px;
  padding-top: 30px;
  padding-left: 30px;
}